$pink: #866dfa;
$gray: #768eb9;
$white: #ffffff;
$green: #05de8b;
.list {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  margin-top: 70px;
  .link {
    margin: 3% 3% 3% 7%;
  }
}
.list-topic {
  width: 40vw;
  height: 40vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  svg {
    width: 40px;
    height: 40px;
  }
}
.list-topic:nth-child(odd) {
  margin: 3% 3% 3% 7%;
}
.list-topic:nth-child(even) {
  margin: 3% 7% 3% 3%;
}
.list-topic h3 {
  margin-top: 5px;
  margin-bottom: 0px;
  color: $gray;
}

//dark mode
.list-topic-dark {
  svg {
    fill: $green;
  }
}
.list-topic-dark h3 {
  color: $green;
}
