$pink: #866dfa;
$gray: #768eb9;
$white: #ffffff;
$green: #05de8b;

.notes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: 70px;
  textarea {
    width: calc(92% - 40px);
    background-color: transparent;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
    border: 0;
    outline: none;
    padding: 10px;
    height: 70vh;
    color: $gray;
  }
  textarea::placeholder {
    color: $gray;
  }
}

//dark mode
.notes-dark {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: 70px;
  textarea {
    width: calc(92% - 40px);
    background-color: transparent;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
    border: 0;
    outline: none;
    padding: 10px;
    height: 70vh;
    color: $white;
  }
  textarea::placeholder {
    color: $white;
  }
}
