$pink: #866dfa;
$gray: #768eb9;

.convex-icon {
  border-radius: 10px;
  background: #e4ebf5;
  box-shadow: 5px 5px 10px #c8d0e7, -5px -5px 10px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
