$pink: #866dfa;
$gray: #768eb9;
$white: #ffffff;
$green: #05de8b;

@media only screen and (max-width: 1000px) {
  .cross-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #e4ebf5;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 68px);
    h3 {
      color: $gray;
    }
    .add-list-name {
      width: calc(86% - 40px);
      padding: 15px 20px;
      margin-top: 30px;
      h3 {
        margin: 0;
      }
      input {
        color: $gray;
      }
    }
    .add-list-type {
      display: flex;
      flex-direction: column;
      width: calc(86% - 40px);
      padding: 0px 20px 15px 20px;
      margin-top: 30px;
      .type-container {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 30px;
        }
        h3 {
          margin-left: 2px;
        }
      }
      .add-list-button-container {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .button-concave {
          display: flex;
          justify-content: center;
          width: 45%;
        }
      }
    }

    .add-list-icons {
      display: flex;
      flex-direction: column;
      width: calc(86% - 40px);
      padding: 0px 20px 15px 20px;
      margin-top: 30px;
      .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 30px;
        }
        h3 {
          margin-left: 2px;
        }
      }
      .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div {
          display: inline-block;
          padding: 10px;
        }
        img {
          width: 20px;
          padding: 10px 10px 0 10px;
          opacity: 0.5;
        }
      }
    }
    .add-list-button {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 20px;
      width: calc(86% - 40px);
      padding: 15px 20px;
      h3 {
        margin: 0;
      }
    }
  }

  .colored {
    opacity: 1;
  }
  .not-colored {
    opacity: 0.4;
  }

  .top-icons {
    display: flex;
    justify-content: right;
    .delete-container {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
    }
  }

  //dark mode
  .cross-container-dark {
    background-color: #181c1d;
  }

  .form-container-dark {
    h3 {
      color: $green;
    }
    .add-list-name-dark {
      input {
        color: $green;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .cross-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #e4ebf5;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 68px);
    h3 {
      color: $gray;
    }
    .add-list-name {
      width: 40vw;
      padding: 15px 20px;
      margin-top: 30px;
      h3 {
        margin: 0;
      }
      input {
        color: $gray;
      }
    }
    .add-list-type {
      display: flex;
      flex-direction: column;
      width: 40vw;
      padding: 0px 20px 15px 20px;
      margin-top: 30px;
      .type-container {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 30px;
        }
        h3 {
          margin-left: 2px;
        }
      }
      .add-list-button-container {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .button-concave {
          display: flex;
          justify-content: center;
          width: 45%;
        }
      }
    }

    .add-list-icons {
      display: flex;
      flex-direction: column;
      width: 40vw;
      padding: 0px 20px 15px 20px;
      margin-top: 30px;
      .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 30px;
        }
        h3 {
          margin-left: 2px;
        }
      }
      .icons {
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        div {
          display: inline-block;
          padding: 10px;
        }
        img {
          width: 20px;
          padding: 10px 10px 0 10px;
          opacity: 0.5;
        }
      }
    }
    .add-list-button {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 20px;
      width: 40vw;
      padding: 15px 20px;
      h3 {
        margin: 0;
      }
    }
  }

  .colored {
    opacity: 1;
  }
  .not-colored {
    opacity: 0.4;
  }

  .top-icons {
    display: flex;
    justify-content: right;
    .delete-container {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
    }
  }

  //dark mode
  .cross-container-dark {
    background-color: #181c1d;
  }

  .form-container-dark {
    h3 {
      color: $green;
    }
    .add-list-name-dark {
      input {
        color: $green;
      }
    }
  }
}
