$pink: #866dfa;
$gray: #768eb9;
$white: #ffffff;
$green: #05de8b;
.history {
  display: flex;
  //   flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;

  .history-convex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px);
    margin-top: 10px;
    .chart {
      display: flex;
      width: 100%;
      .column {
        width: calc(100% * (1 / 7));
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $gray;
        h4 {
          margin: 10px 0;
        }
        .progress-bar {
          // border: 2px solid black;
          width: 60%;
          height: 150px;
          display: flex;
          flex-direction: column-reverse;
          border-radius: 10px;
          .fill {
            height: 60%;
            width: 100%;
            background-color: $pink;
            border-radius: 10px;
            margin-bottom: -1px;
          }
        }
      }
    }
    .history-sum {
      display: flex;

      padding: 10px;

      .convex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 10px 20px;
        h4 {
          margin: 0;
          text-align: center;
          color: $gray;
        }
        h3 {
          margin: 0;
          color: $gray;
        }
        .finished-tasks {
          margin-top: 10px;
        }
      }
    }
  }
  .history-container {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    h3 {
      color: $gray;
    }
    h3 {
      // color: $pink;
      text-align: center;
    }

    table {
      text-align: left;
      border-collapse: collapse;
      color: $gray;
      .table-header {
        color: black;
      }
      .table-header:hover {
        background-color: #e4ebf5;
      }
      tr {
        border-bottom: 1px solid $gray;
        // background-color: red;
        th {
          padding: 10px 20px;
          // border-bottom: 1px solid red;
        }
      }
      tr:hover {
        background-color: $pink;
        color: black;
      }
    }
  }
}

//dark mode

.history-dark {
  display: flex;
  //   flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;

  .history-convex-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px);
    margin-top: 10px;
    .chart-dark {
      display: flex;
      width: 100%;
      .column-dark {
        width: calc(100% * (1 / 7));
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $green;
        h4 {
          margin: 10px 0;
        }
        .progress-bar-dark {
          // border: 2px solid black;
          width: 60%;
          height: 150px;
          display: flex;
          flex-direction: column-reverse;
          border-radius: 10px;
          .fill-dark {
            height: 60%;
            width: 100%;
            background-color: $green;
            border-radius: 10px;
            margin-bottom: -1px;
          }
        }
      }
    }
    .history-sum-dark {
      display: flex;

      padding: 10px;

      .convex-dark {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 10px 20px;
        h4 {
          margin: 0;
          text-align: center;
          color: $green;
        }
        h3 {
          margin: 0;
          color: $green;
        }
        .finished-tasks-dark {
          margin-top: 10px;
        }
      }
    }
  }
  .history-container-dark {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    h3 {
      color: $green;
    }
    h3 {
      // color: $pink;
      text-align: center;
    }

    .table-dark {
      text-align: left;
      border-collapse: collapse;
      color: $green;
      .table-header-dark {
        color: $green;
      }
      .table-header-dark:hover {
        background-color: #262c2c;
      }
      tr {
        border-bottom: 1px solid $white;
        // background-color: red;
        th {
          padding: 10px 20px;
          // border-bottom: 1px solid red;
        }
      }
      tr:hover {
        background-color: $green;
        color: $white;
      }
    }
  }
}
